.blue{
  background:blue;
  color: white;
  font-size: 50px;
  border: none;
  border-radius:20px;
  margin-right: 20px;
}
.blue:focus{
  background: yellow;
  color: black;
  border: 1px solid #000;
}
.white{
  background:blue;
  color: #fff;
  font-size: 50px;
  border: none;
  border-radius:20px;
  margin-left: 20px;
}
.white:focus{
  background:grey;
  color: black;
  border: 1px solid #000;
}
.blue,.white{
  margin-top:20px;
  box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    border: 3px red solid;
}
.ii{
display:block;
text-align: center;
margin-top: 100px;
}
